.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    align-items: center;
    padding:40px;
}

.header_logo {
    height:80px;
}

/* .header_icon {
    padding: 20px
} */